.htaccess
api.php
app/.htaccess
app/code/community/Cm/
app/code/community/Phoenix/
app/code/core/
app/design/adminhtml/default/default/
app/design/frontend/base/
app/design/frontend/default/default/
app/design/frontend/default/blank/
app/design/frontend/default/iphone/
app/design/frontend/default/modern/
app/design/install/
app/etc/modules/Mage_All.xml
app/etc/modules/Mage_Api.xml
app/etc/modules/Mage_Api2.xml
app/etc/modules/Mage_Authorizenet.xml
app/etc/modules/Mage_Bundle.xml
app/etc/modules/Mage_Captcha.xml
app/etc/modules/Mage_Centinel.xml
app/etc/modules/Mage_Compiler.xml
app/etc/modules/Mage_Connect.xml
app/etc/modules/Mage_CurrencySymbol.xml
app/etc/modules/Mage_Downloadable.xml
app/etc/modules/Mage_ImportExport.xml
app/etc/modules/Mage_LoadTest.xml
app/etc/modules/Mage_Oauth.xml
app/etc/modules/Mage_PageCache.xml
app/etc/modules/Mage_Persistent.xml
app/etc/modules/Mage_Weee.xml
app/etc/modules/Mage_Widget.xml
app/etc/modules/Mage_XmlConnect.xml
app/etc/modules/Phoenix_Moneybookers.xml
app/etc/modules/Cm_RedisSession.xml
app/etc/config.xml
app/etc/local.xml
app/etc/local.xml.additional
app/etc/local.xml.template
app/locale/
app/Mage.php
cron.php
cron.sh
downloader/
dragonfly.sublime-project
dragonfly.sublime-workspace
errors/
favicon.ico
get.php
includes/
index.php
index.php.sample
install.php
js/blank.html
js/calendar/
js/extjs/
js/jscolor/
js/lib/
js/prototype/
js/spacer.gif  
js/varien/
js/flash/
js/index.php  
js/mage/ 
js/scriptaculous/
js/spacer.gif
js/tiny_mce/
lib/
LICENSE_AFL.txt
LICENSE.html
LICENSE.txt
LICENSE_EE*
mage
media/
nbproject/
pear/
php.ini.sample
pkginfo/
RELEASE_NOTES.txt
robots.txt
shell/
sitemap.xml
skin/adminhtml/default/default/
skin/frontend/base/
skin/frontend/default/blank/
skin/frontend/default/blue/
skin/frontend/default/default/
skin/frontend/default/french/
skin/frontend/default/german/
skin/frontend/default/iphone/
skin/frontend/default/modern/
skin/install/
var/
pear

# IntelliJ - PhpStorm and PyCharm
.idea
*.ipr
*.iws

# Netbeans
nbproject
.nbproject
.nbproject/*
nbproject/*
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Mac OSX
.DS_Store
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# SublimeText Project Files
/*.sublime-project
*.sublime-workspace

# Dart
packages
packages/*

# Vagrant
.vagrant
.vagrant/*

.env