<?xml version="1.0"?>
<config>
    <modules>
        <Creare_CreareSeoCore>
            <version>1.5</version>
        </Creare_CreareSeoCore>
    </modules>
    <adminhtml>
        <layout>
            <updates>
                <creareseocore>
                    <file>creareseo_admin.xml</file>
                </creareseocore>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <layout>
            <updates>
                <creareseocore>
                    <file>creareseo.xml</file>
                </creareseocore>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <creareseo before="Mage_Adminhtml">Creare_CreareSeoCore_Adminhtml</creareseo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <eav_attributes>
            <catalog_product>
                <name>
                    <code>name</code>
                    <locked_fields>
                        <is_unique/>
                    </locked_fields>
                </name>
            </catalog_product>
        </eav_attributes>
        <models>
            <creareseocore>
                <class>Creare_CreareSeoCore_Model</class>
                <resourceModel>cleanup_mysql4</resourceModel>
            </creareseocore>
            <sitemap>
                <rewrite>
                    <sitemap>Creare_CreareSeoCore_Model_Sitemap_Sitemap</sitemap>
                </rewrite>
            </sitemap>
        </models>
        <helpers>
            <creareseocore>
                <class>Creare_CreareSeoCore_Helper</class>
            </creareseocore>
        </helpers>
        <blocks>
            <creareseocore>
                <class>Creare_CreareSeoCore_Block</class>
            </creareseocore>
        </blocks>
        <resources>
            <creareseo_setup>
                <setup>
                    <module>Creare_CreareSeoCore</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </creareseo_setup>
        </resources>
    </global>
    <crontab>
        <jobs>
            <creare_creareseocore>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>creareseocore/cleanup::doCleanup</model>
                </run>
            </creare_creareseocore>
        </jobs>
    </crontab>
    <frontend>
        <events>
            <controller_action_layout_generate_xml_before>
                <observers>
                    <noindex>
                        <type>singleton</type>
                        <class>creareseocore/observer</class>
                        <method>changeRobots</method>
                    </noindex>
                    <universal_analytics>
                        <type>singleton</type>
                        <class>creareseocore/observer</class>
                        <method>setUA</method>
                    </universal_analytics>
                </observers>
            </controller_action_layout_generate_xml_before>
            <controller_action_noroute>
                <observers>
                    <creareseo_discontinued>
                        <type>singleton</type>
                        <class>creareseocore/observer</class>
                        <method>discontinuedCheck</method>
                    </creareseo_discontinued>
                </observers>
            </controller_action_noroute>
            <http_response_send_before>
                <observers>
                    <creareseo_keyword>
                        <type>singleton</type>
                        <class>creareseocore/observer</class>
                        <method>applyTag</method>
                    </creareseo_keyword>
                </observers>
            </http_response_send_before>
            <catalog_controller_product_view>
                <observers>
                    <creareseo_forcecanonical>
                        <type>singleton</type>
                        <class>creareseocore/observer</class>
                        <method>forceProductCanonical</method>
                    </creareseo_forcecanonical>
                </observers>
            </catalog_controller_product_view>
            <catalog_controller_category_init_after>
                <observers>
                    <creareseo_heading>
                        <type>singleton</type>
                        <class>creareseocore/observer</class>
                        <method>seoHeading</method>
                    </creareseo_heading>
                </observers>
            </catalog_controller_category_init_after>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <creareseo_contactsmeta>
                        <type>singleton</type>
                        <class>creareseocore/observer</class>
                        <method>contactsMetaData</method>
                    </creareseo_contactsmeta>
                    <settitle>
                        <type>singleton</type>
                        <class>creareseocore/observer</class>
                        <method>setTitle</method>
                    </settitle>
                    <setdescription>
                        <type>singleton</type>
                        <class>creareseocore/observer</class>
                        <method>setDescription</method>
                    </setdescription>
                    <forcehptitle>
                        <type>singleton</type>
                        <class>creareseocore/observer</class>
                        <method>forceHomepageTitle</method>
                    </forcehptitle>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </frontend>
    <adminhtml>
        <events>
           <admin_system_config_changed_section_crearehtaccess>
                <observers>
                    <creareseo_writehtaccess>
                        <type>singleton</type>
                        <class>creareseocore/observer</class>
                        <method>writeToFileOnConfigSave</method>
                    </creareseo_writehtaccess>
                </observers>
            </admin_system_config_changed_section_crearehtaccess>
            <admin_system_config_changed_section_crearerobots>
                <observers>
                    <creareseo_writerobots>
                        <type>singleton</type>
                        <class>creareseocore/observer</class>
                        <method>writeToFileOnConfigSave</method>
                    </creareseo_writerobots>
                </observers>
            </admin_system_config_changed_section_crearerobots>
            <controller_action_predispatch>
                <observers>
                    <creareseo_savefileconfig>
                        <type>singleton</type>
                        <class>creareseocore/observer</class>
                        <method>saveConfigOnConfigLoad</method>
                    </creareseo_savefileconfig>
                    <!-- Below observer depreciated in 1.2 as the
                    script causes need to reindex on every product save.
                    <processcheck>
                        <type>singleton</type>
                        <class>creareseocore/observer</class>
                        <method>productCheck</method>
                    </processcheck>-->
                </observers>
            </controller_action_predispatch>
            <catalog_product_gallery_prepare_layout>
                <observers>
                    <creareseo_mandatory_alt>
                        <type>singleton</type>
                        <class>creareseocore/observer</class>
                        <method>setMandatoryAltTag</method>
                    </creareseo_mandatory_alt>
                </observers>
            </catalog_product_gallery_prepare_layout>
        </events>
    </adminhtml>
    <default>
        <creareseocore>
            <defaultseo>
                <metakw>1</metakw>
                <noindexparams>1</noindexparams>
                <mandatory_alt>0</mandatory_alt>
                <noindexparamssearch>1</noindexparamssearch>
                <noindexparamsgallery>1</noindexparamsgallery>
                <duplicate>0</duplicate>
                <category_h1>1</category_h1>
                <forcecanonical>1</forcecanonical>
                <forcehptitle>1</forcehptitle>
                <enablecmscanonical>1</enablecmscanonical>
                <cms_canonical_protocol>http://</cms_canonical_protocol>
                <cms_canonical_slashes>1</cms_canonical_slashes>
            </defaultseo>
            <googleanalytics>
                <type>0</type>
                <enable_demographics>0</enable_demographics>
            </googleanalytics>
            <cleanup>
                <active>1</active>
                <logdb>1</logdb>
                <cachefolder>0</cachefolder>
                <enablecache>1</enablecache>
            </cleanup>
            <social>
                <enabled>0</enabled>
            </social>
            <metadata>
                <product_title_enabled>0</product_title_enabled>
                <product_title>[name] - [store]</product_title>
                <product_metadesc_enabled>0</product_metadesc_enabled>
                <product_metadesc>[name], [store]</product_metadesc>
                <category_title_enabled>0</category_title_enabled>
                <category_title>[original_name] - [store]</category_title>
                <category_metadesc_enabled>0</category_metadesc_enabled>
                <category_metadesc>[original_name] [store]</category_metadesc>
                <cms_metadesc_enabled>0</cms_metadesc_enabled>
                <cms_metadesc>[title] - [store]</cms_metadesc>
            </metadata>
            <product_schema>
                <enabled>1</enabled>
            </product_schema>
            <breadcrumbs_schema>
                <enabled>1</enabled>
            </breadcrumbs_schema>
            <social_schema>
                <enabled>0</enabled>
            </social_schema>
            <address_schema>
                <enabled>0</enabled>
            </address_schema>
            <logo_schema>
                <enabled>1</enabled>
            </logo_schema>
            <google_tag_manager>
                <enabled>0</enabled>
            </google_tag_manager>
            <sitelinksearch>
                <enabled>1</enabled>
            </sitelinksearch>
        </creareseocore>
    </default>
</config>